<!-- change_password.html -->
{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <!-- change_password.html -->
    <h1 class="text-center">Change Password</h1>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/password" method="post">
                        <label for="old_password" class="form-label">Current Password:</label>
                        <input type="password" id="old_password" name="old_password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm New Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    {% if success %}
        <!-- Green Success Popup -->
        <div class="alert alert-success" role="alert" style="padding: 10px; margin-bottom: 10px;">
            Password change successful!
        </div>
    {% endif %}
<!-- Page Footer Here-->
<footer class="bg-primary text-white py-3 fixed-bottom">
    <div class="container text-center">
        <p>&copy; 2024 CoinKeeper.</p>
    </div>
</footer>

{% endblock %}
